.body {
    background:#F5F5F5;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.nav-link {
    color: black;
    border-radius: 0 !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.nav-link:hover {
    color: lightskyblue;
}

.nav-pills .nav-link.active {
    background-color: #0d6efd;
}

.profile-img {
    max-height: 200px;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}