.body {
    background:#F5F5F5;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.nav-link {
    color: white;
    border-radius: 0 !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.nav-link:hover {
    color: lightblue;
}

.nav-pills .nav-link.active {
    background-color: #212529;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}